[Desktop Entry]
Type=Application
Version=0.9
Name=Nutty
GenericName=Network Utility App
Comment=Displays network information
Categories=GTK;Utility;Network;
Exec=nutty
Icon=${SNAP}/meta/gui/nutty.png
Terminal=false
X-GNOME-Gettext-Domain=nutty
Keywords=Nutty;Network;Utility;Traceroute;Ports;Devices
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=nutty --about
Name=About Nutty
