Source: com.github.babluboy.nutty
Section: utils
Priority: optional
Maintainer: Siddhartha Das <bablu.boy@gmail.com>
Build-Depends: debhelper,
               meson,
               valac (>= 0.26),
               libgee-0.8-dev,
               libgtk-3-dev (>= 3.14),
               libgranite-dev (>= 0.3.0),
               libsqlite3-dev,
               libxml2,
               libxml2-dev,
               libnotify-dev

Standards-Version: 3.9.6
Package: com.github.babluboy.nutty
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, net-tools, nmap, traceroute, vnstat, nethogs, curl, wireless-tools, iproute2, pciutils
Description: Nutty
 A network utility with a user interface for common command line tools
