[Desktop Entry]
Name=Nutty
GenericName=Network Utility
Comment=Displays network information
Categories=Utility;Network;System;
Exec=nutty
Icon=nutty
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=nutty
X-GNOME-Keywords=Nutty;Network;Utility;Traceroute;Ports;Devices
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=nutty --about
Name=About Nutty
