[Desktop Entry]
Type=Application
Version=0.1
Name=Nutty
GenericName=Network Utility App
Comment=Displays network information
Categories=GTK;Utility;
Exec=nutty
Icon=nutty
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=nutty
X-GNOME-Keywords=Nutty;Network;Utility;Traceroute;Ports;Devices
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=nutty --about
Name=About Nutty
